body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
    font: 1.5rem "Roboto", sans-serif;
  }

.main-place {
    margin: 0 auto;
    width: 75%;
    height: 80vh;
    background-color: #202020;
    text-align: center;
    border-radius: 20px;
}

.header-place {
    width: 97%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    height: 15%;
    border-radius: 20px;
}

.calendar-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 97%;
    margin: 0 auto;
    height: 84%;
    border-radius: 20px;
    gap: 2px;
    font-size: 0.9rem;
    color: white;
    font-weight: 100;
}

.station {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    color: aliceblue;
    font-size: 1.5rem;
}

.station:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.month-string {
    font-weight: 600;   
}

.station:nth-child(2) {
    display: flex;
    gap: 10px;
}

.station:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    width: 25%;
    height: 25%;
    background-color: #202020;
    color: white;
    border-radius: 5px;
    border: 0px;
    font-size: 1rem;

}

button:active {
    color: white;
}

.passing-button:nth-child(2) {
    width: 7vh;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.passing-button {
    background-color: #484848;
    width: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(49, 47, 47);
}

.block-place:nth-child(n+1):nth-child(-n+7) {
    display: flex;
    align-items: flex-end;
    width: 14.1%;
    height: 4vh;
    background-color: #202020;
}

.block-place {
    display: flex;
    justify-content: flex-start;
    width: 14.1%;
    height: 10vh;
    background-color: #484848;
    border-radius: 10px;
}

.block-place:nth-child(n+1):nth-child(-n+7) {
    display: flex;
    align-items: flex-end;
    width: 14.1%;
    height: 4vh;
    background-color: #202020;
}

.block-style {
    margin: 5px;
    
}

.block-place:nth-child(n+39):nth-child(-n+42) {
    background-color: #343434;
}
